# ======================
# ARCHIVOS SENSIBLES/DATOS
# ======================
vehicles_us.csv        


# ======================
# ENTORNOS VIRTUALES
# ======================
vehicles_env/
pyvenv.cfg
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# ======================
# PYTHON
# ======================
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cgi
*.egg

# ======================
# ARCHIVOS TEMPORALES
# ======================
*.log
*.sqlite
*.db

# ======================
# IDE/EDITORES
# ======================
.vscode/
.idea/
*.swp
*.swo

# ======================
# SISTEMA
# ======================
.DS_Store
Thumbs.db

# ======================
# STREAMLIT
# ======================
.streamlit/

# ======================
# NOTEBOOKS (opcional)
# ======================
.ipynb_checkpoints/

# ======================
# TU CARPETA DE ICONOS (si no quieres subirla)
# ======================
iconos/